<div class="gallery">
    <div class="row">
        {% for item in gallery.projects %}
            <div class="col-sm-12 col-md-4 gallery-item">
                <a href="{{ 'project'|page({slug: item.slug}) }}" class="fancy-hover-cursor">
                    <div class="gallery-thumbnail"
                         style="background-image: url('{{ item.cover_image|media|resize(700, false, { quality: '70'}) }}')"
                    ></div>
                </a>
                <h5>{{ item.title }}</h5>
            </div>
        {% endfor %}
    </div>
</div>